body{
  background-image:url("http://science-all.com/images/background-hd/background-hd-13.jpg");
  background-size:cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

}
.app{
  text-align :center; 
}

.deadline{
  font-size:50px;
  margin-top:20%;
  font-family:arial black;
  text-shadow:2px 3px 0px rgba(51, 110, 123, 0.8),
              4px 6px 0px rgb(52, 73, 94),
              2px 2px 0px gray,
              2px 3px 0px gray;
  color: rgba(230, 230, 230, .5);            
}

.days, .hours, .minutes, .seconds{
  display:inline;
  margin:10px;
  font-size:20px;
  color:rgba(20, 25, 20, .9);
  font-family:cambria;
  font-weight:bold;
}
